src/flows.json
[
    {
        "id": "cd8cb9d.729cbc8",
        "type": "tab",
        "label": "UPS_Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2d4f7359.7b78bc",
        "type": "udp in",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "iface": "",
        "port": "40001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 80,
        "y": 140,
        "wires": [
            [
                "f74f5dcf.2841",
                "97dea69.9a9c2d8"
            ]
        ]
    },
    {
        "id": "f74f5dcf.2841",
        "type": "json",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "b3205135.395aa8",
                "96bc61ee.68ce2",
                "33ab1b66.85e34c",
                "eb81c306.8dedf8",
                "c8e89290.5fee1",
                "87ceca24.0133b8",
                "ee8565bc.205a1"
            ]
        ]
    },
    {
        "id": "6fff5bc4.d1979c",
        "type": "ui_gauge",
        "z": "cd8cb9d.729cbc8",
        "name": "Bat",
        "group": "6ca7e7c1.5b5a18",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Battery Level",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 750,
        "y": 40,
        "wires": []
    },
    {
        "id": "b3205135.395aa8",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "BatteryPercentage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.BatteryPercentage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 40,
        "wires": [
            [
                "6fff5bc4.d1979c"
            ]
        ]
    },
    {
        "id": "96bc61ee.68ce2",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "TimeRemaining",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.TimeRemaining",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "d342ce27.99dc3"
            ]
        ]
    },
    {
        "id": "87ceca24.0133b8",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "InputVoltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.InputVoltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "4fcde772.902ce"
            ]
        ]
    },
    {
        "id": "eb81c306.8dedf8",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "ChargeCurrent",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ChargeCurrent",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 200,
        "wires": [
            [
                "38e243dd.29309c"
            ]
        ]
    },
    {
        "id": "33ab1b66.85e34c",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "ChargeStatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ChargeStatus",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "e882f951.70b92"
            ]
        ]
    },
    {
        "id": "c8e89290.5fee1",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "PowerInputStatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.PowerInputStatus",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "f6fafa8e.070dd8"
            ]
        ]
    },
    {
        "id": "e6380d2d.10eaa",
        "type": "ui_text",
        "z": "cd8cb9d.729cbc8",
        "group": "6ca7e7c1.5b5a18",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "TimeRemaining",
        "label": "Time Remaining (approx.)",
        "format": "{{msg.payload}} Min",
        "layout": "row-spread",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "e882f951.70b92",
        "type": "ui_text",
        "z": "cd8cb9d.729cbc8",
        "group": "6ca7e7c1.5b5a18",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "ChargeStatus",
        "label": "Charge Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "38e243dd.29309c",
        "type": "ui_text",
        "z": "cd8cb9d.729cbc8",
        "group": "6ca7e7c1.5b5a18",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "ChargeCurrent",
        "label": "Charge Current",
        "format": "{{msg.payload}} mAh",
        "layout": "row-spread",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "f6fafa8e.070dd8",
        "type": "ui_text",
        "z": "cd8cb9d.729cbc8",
        "group": "6ca7e7c1.5b5a18",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "PowerInputStatus",
        "label": "Power Input ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "a1df4919.e6c658",
        "type": "ui_text",
        "z": "cd8cb9d.729cbc8",
        "group": "6ca7e7c1.5b5a18",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "InputVoltage",
        "label": "Input Voltage ",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "ee8565bc.205a1",
        "type": "change",
        "z": "cd8cb9d.729cbc8",
        "name": "BatteryVoltage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.BatteryVoltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "e9d39e9.7ff99e"
            ]
        ]
    },
    {
        "id": "e2355dc9.703588",
        "type": "ui_text",
        "z": "cd8cb9d.729cbc8",
        "group": "6ca7e7c1.5b5a18",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "BatteryVoltage",
        "label": "Battery Voltage ",
        "format": "{{msg.payload}} V",
        "layout": "row-spread",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "d342ce27.99dc3",
        "type": "function",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "func": "if (msg.payload === -1)\n{\n    msg.payload = \"\\u221E\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "e6380d2d.10eaa"
            ]
        ]
    },
    {
        "id": "e9d39e9.7ff99e",
        "type": "smooth",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "3",
        "mult": "single",
        "reduce": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "e2355dc9.703588"
            ]
        ]
    },
    {
        "id": "4fcde772.902ce",
        "type": "smooth",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "2",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 600,
        "y": 280,
        "wires": [
            [
                "a1df4919.e6c658"
            ]
        ]
    },
    {
        "id": "6d7babc9.dad924",
        "type": "ui_button",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "group": "6ca7e7c1.5b5a18",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "88fd1138.669668"
            ]
        ]
    },
    {
        "id": "88fd1138.669668",
        "type": "exec",
        "z": "cd8cb9d.729cbc8",
        "command": "sudo shutdown -h now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 350,
        "y": 360,
        "wires": [
            [],
            [
                "ca5be027.7a4ad8"
            ],
            []
        ]
    },
    {
        "id": "ca5be027.7a4ad8",
        "type": "debug",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "12be255d.8efaf3",
        "type": "exec",
        "z": "cd8cb9d.729cbc8",
        "command": "sudo reboot now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 330,
        "y": 460,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e47bc312.215348",
        "type": "ui_button",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "group": "6ca7e7c1.5b5a18",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "12be255d.8efaf3"
            ]
        ]
    },
    {
        "id": "97dea69.9a9c2d8",
        "type": "debug",
        "z": "cd8cb9d.729cbc8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 150,
        "y": 60,
        "wires": []
    },
    {
        "id": "6ca7e7c1.5b5a18",
        "type": "ui_group",
        "z": "",
        "name": "UPS Status",
        "tab": "e14d795a.a79cb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e14d795a.a79cb",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]