src/ups_flow.json
[{"id":"3981e627.9c5c9a","type":"tab","label":"UPS","disabled":false,"info":""},{"id":"51f184b1.9c2a14","type":"mqtt in","z":"3981e627.9c5c9a","name":"ups","topic":"/feeds/ups","qos":"2","datatype":"json","broker":"f66ab1c7.36e038","x":200,"y":240,"wires":[["d6ba287d.dc755","10c9e905.de769f","8e6b20fa.5c5718","722ffad.d178384","8f6113d4.4b304","87d3b605.569d5"]]},{"id":"d6ba287d.dc755","type":"debug","z":"3981e627.9c5c9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":240,"wires":[]},{"id":"29ad4330.eed314","type":"ui_gauge","z":"3981e627.9c5c9a","name":"","group":"221342a7.29f9d6","order":0,"width":0,"height":0,"gtype":"gage","title":"Battery ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#b50004","#e6e600","#00ff00"],"seg1":"","seg2":"","x":680,"y":340,"wires":[]},{"id":"10c9e905.de769f","type":"change","z":"3981e627.9c5c9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BatteryPercentage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["29ad4330.eed314"]]},{"id":"8e6b20fa.5c5718","type":"change","z":"3981e627.9c5c9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.PowerInput","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["191a4f35.94c2a9"]]},{"id":"191a4f35.94c2a9","type":"ui_text","z":"3981e627.9c5c9a","group":"221342a7.29f9d6","order":1,"width":0,"height":0,"name":"","label":"Power Input","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":400,"wires":[]},{"id":"722ffad.d178384","type":"change","z":"3981e627.9c5c9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ChargeStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["65e8199f.2ceca"]]},{"id":"65e8199f.2ceca","type":"ui_text","z":"3981e627.9c5c9a","group":"221342a7.29f9d6","order":1,"width":0,"height":0,"name":"","label":"Charge Status","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":440,"wires":[]},{"id":"8f6113d4.4b304","type":"change","z":"3981e627.9c5c9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BatteryVoltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["fc6bc7f8.abc46"]]},{"id":"fc6bc7f8.abc46","type":"ui_text","z":"3981e627.9c5c9a","group":"221342a7.29f9d6","order":1,"width":0,"height":0,"name":"","label":"Battery Voltage","format":"{{msg.payload}} V","layout":"row-spread","x":700,"y":500,"wires":[]},{"id":"87d3b605.569d5","type":"change","z":"3981e627.9c5c9a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.TimeRemaining","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":580,"wires":[["5976421.89d7dbc","58cc5371.3bb5f4"]]},{"id":"8d53003a.be1238","type":"ui_text","z":"3981e627.9c5c9a","group":"221342a7.29f9d6","order":1,"width":0,"height":0,"name":"","label":"Time Remaining (mins)","format":"{{msg.payload}} ","layout":"row-spread","x":810,"y":600,"wires":[]},{"id":"5976421.89d7dbc","type":"ui_ui_control","z":"3981e627.9c5c9a","name":"","x":500,"y":700,"wires":[["8d53003a.be1238"]]},{"id":"58cc5371.3bb5f4","type":"function","z":"3981e627.9c5c9a","name":"","func":"if (msg.payload == -1){\n    msg.payload = \"Connected\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":560,"wires":[["8d53003a.be1238"]]},{"id":"f66ab1c7.36e038","type":"mqtt-broker","z":"","name":"PiMosquitto","broker":"172.16.11.1","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"221342a7.29f9d6","type":"ui_group","z":"","name":"UPS","tab":"200aae8b.5d687a","disp":true,"width":"6","collapse":false},{"id":"200aae8b.5d687a","type":"ui_tab","z":"","name":"UPS","icon":"dashboard","disabled":false,"hidden":false}]
